@{
    Layout = "_layoutAdmin";
}

@model ShopNow.DAL.Entities.Product

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1> Add Product </h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Components</a></div>
                <div class="breadcrumb-item">Table</div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-3">

                    <div class="card card-primary" style="margin-left:-310px; margin-right:-150px;">
                        <div class="card-header">
                            <h4>
                                <div>
                                    <span> Add Product </span>
                                </div>
                            </h4>
                        </div>

                        <div class="card-body">

                            <form action="#">
                                <input id="hdnProductId" class="form-control" name="ProductId" value="@Model.Id" type="hidden" autofocus>
                                <input id="hdnProductCategoryId" class="form-control" name="ProductCategoryId" value="@Model.ProductCategoryId" type="hidden" autofocus>
                                <input type="hidden" id="hdnTempData" value="@TempData["SuccessMessage"]" />
                                <input type="hidden" id="hiddenTempData" value="@TempData["UpdateMessage"]" />
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="ProductCategory">Product Category</label>
                                        <select id="ddlProductCategory" class="form-control" name="ddlProductCategory" value="@Model.ProductCategoryId" autofocus>
                                            <option value="">Select Category</option> 
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="ProductName">Product Name</label>
                                        <input id="ProductName" type="text" class="form-control" name="ProductName" value="@Model.Name" autofocus>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="Price">Price</label>
                                        <input id="Price" type="text" class="form-control" name="Price" value="@Model.Price" autofocus>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="ProductDescription">Product Description</label>
                                        <input id="ProductDescription" type="text" class="form-control" name="ProductDescription" value="@Model.ProductDescription" autofocus>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="Color">Color</label>
                                        <input id="Color" type="text" class="form-control" name="Color" value="@Model.Color" autofocus>
                                    </div>

                                    
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="form-group col-4">
                                            <label for="Image">Choose Image</label>
                                            <input id="Image" type="file" class="form-control" name="Image" accept="image/*" multiple>
                                        </div>

                                        <div class="form-group col-8">
                                            <div class="gallery gallery-fw" style="display: flex; flex-wrap: nowrap;" data-item-height="100">
                                                @if (Model.ProductImages != null)
                                                {
                                                    @foreach (var productImageData in Model.ProductImages)
                                                    {
                                                        <div class="gallery-item-wrapper">
                                                            <a href="#" id="@productImageData?.Id" class="btn btn-icon btn-danger remove-photo" onclick="showDeleteProductImageModal(this.id)"><i class="fas fa-times"></i></a>

                                                            <img class="gallery-item" id="productImage-@productImageData?.Id" src="data:image/png;base64,@productImageData?.Image.ImageData" alt="Product Image" style="width: 170px; height: 170px; padding-left:50px;">
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <button type="submit" id="btnSaveProduct" class="btn btn-primary btn-block" style="width: fit-content;">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<div class="modal fade show" tabindex="-1" role="dialog" id="Delete-ProductImage-Modal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                
            </div>
            <div class="modal-body"> Do you want to Delete this Product Image?</div>
            <input id="hdnProductImageId" type="hidden">

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-shadow" id="" onclick="DeleteProductImage()">Yes</button>

                <button type="button" class="btn btn-secondary" id="" onclick="CloseModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/admintemplate/js/jquery-3.6.4.min.js"></script>
<script src="~/admintemplate/custom/js/addproduct.js"></script>
